{% extends 'adminhome.html' %}

{% block main %}
<center>
    <h2>Add Sub Category Here!!!</h2>
    <font color="blue">{{output}}</font>
    <form method="post" action="/myadmin/addsubcategory/"  enctype="multipart/form-data"  >
    {% csrf_token %}
    <table cellspacing="10">
    <tr>
    <td>Category Name</td>
    <td>
    <select name="catnm" style="width:87%">
        <option>Select city</option>
        {% for row in clist %}
            <option>{{row.catnm}}</option>    
        {% endfor %}
    </select>
    </td>
    </tr>
    <tr>
    <td>SubCategory Name</td>
    <td>
    <input type="text" name="subcatnm" placeholder="Enter subcategory name"/>
    </td>
    </tr>
    <tr>
    <td>SubCategory Icon</td>
    <td>
    <input type="file" name="caticon" />
    </td>
    </tr>
    <tr>
    <td>
    <input type="submit"  value="Add SubCategory"/> 
    </td>
    </tr>
    </table>
    </form>
    
    </center>
{% endblock  %}