{% extends 'adminhome.html' %}

{% block main %}
<center>

<h2>Edit Profile Here!!!</h2>
<font color="blue">{{msg}}</font>
<form method="post" action="/myadmin/epadmin/">
{% csrf_token %}    
<table cellspacing="10">

<tr>
<td>Name</td>
<td><input type="text" name="name" value="{{userDetails.name}}" /></td>
</tr>

<tr>
<td>Username</td>
<td><input type="text" name="username" value="{{userDetails.username}}" readonly /></td>
</tr>

<tr>
<td>Address</td>
<td><textarea cols="29" rows="5" name="address">{{userDetails.address}}</textarea></td>
</tr>

<tr>
<td>Mobile</td>
<td><input type="text" name="mobile" value="{{userDetails.mobile}}" /></td>
</tr>


<tr>
<td>City</td>
<td>
<select style="width:100%;" name="city">
<option>{{userDetails.city}}</option>
<option>Indore</option>
<option>Bhopal</option>
<option>Ujjain</option>
</select>    
</td>
</tr>

<tr>
<td>Gender</td>
<td>
Male <input type="radio" name="gender" value="male" {{m}} />
&nbsp;&nbsp;
Female <input type="radio" name="gender" value="female" {{f}} />
</td>
</tr>

<tr>
<td colspan="2">
<center>    
    <input type="submit" value="Update" /></td>
</center>    
</tr>

</table>
</form>

</center>
{% endblock  %}
