{% extends 'master_template.html' %}

{% block content %}

<h2>Login Here!!!</h2>
<font color="blue">{{msg}}</font>
<form method="post" action="/login/">
{% csrf_token %}    
<table cellspacing="10">

<tr>
<td>Username</td>
<td><input type="text" name="username" placeholder="Enter username" value="{{cunm}}"/></td>
</tr>

<tr>
<td>Password</td>
<td><input type="password" name="password" placeholder="Enter password" value="{{cpass}}"/></td>
</tr>

<tr>
<td colspan="2">
<input type="checkbox" value="chk" name="chk" /> 
Remember me?
</td>
</tr>

<tr>
<td colspan="2">
<center>    
    <input type="submit" value="Login" />
</center>    
</td>
</tr>

</table>
</form>


{% endblock %}


