{% extends 'master_template.html' %}

{% block content %}

<style>
#category_main
{
    height:auto;
    width:600px;
}    
.category_part
{
    height:200px;
    width:200px;
    float:left;
}
</style>

<h2>Project Sub Categories >> {{catnm}}</h2>
<div id="category_main" >
    {% for row in sclist %}
    <a href="">
    <div class="category_part" >
        <center>
        <img src="{{media_url}}{{row.subcaticonnm}}" height="150" width="150"/>
        <br><br>
        <b>{{row.subcatnm}}</b>
        </center>    
    </div>
    </a>
    {% endfor %}
</div>

{% endblock %}


{% block sidebar %}
            <h2>Categories</h2>
            
            <ul>
            {% for catrow in clist %}
                <li><a href="/viewsubcat/?cnm={{catrow.catnm}}">{{catrow.catnm}}</a></li>
            {% endfor %}
            </ul>
{% endblock %}